/* root variables */
:root {
    --primary-color: #212020;
    --secondary-color: #f5f5f5;
    --text-primary-color: #ffffff;
    --text-secondary-color: #000000;
    --light-box-shadow: rgba(255, 255, 255, 0.2);
    --light-gray: #555;
}
/* general stylings */
body {
    background: var(--primary-color);
    color: var(--text-primary-color);
    margin: 0;
    font-family: "Montserrat", sans-serif;
    user-select: none;
}

h1, h2 {
    font-family: 'Qwitcher Grypen', sans-serif;
    font-size: 70px;
    margin-bottom: 40px;
}

p {
    font-size: 13px;
    line-height: 2.2;
}

/* navbar stylings */
header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1001;
    background-color: var(--primary-color);
    box-shadow: 0px 4px 10px var(--light-box-shadow);
    padding: 15px 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 30px;
}

.logo a {
    font-family: 'Qwitcher Grypen', sans-serif;
    font-size: 40px;
    font-weight: bolder;
    text-decoration: none;
    color: var(--text-primary-color);
}

/* desktop navigation */
.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 80px;
}

.nav-link {
    color: var(--text-primary-color);
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    transition: transform 0.3s ease, color 0.3s ease;
}

.nav-link:hover {
    font-weight: bold;
}

.download-btn {
    padding: 10px 18px;
    border: 2px solid var(--text-primary-color);
    border-radius: 30px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.download-btn:hover {
    color: var(--text-primary-color);
    background-color: var(--primary-color);
}

/* hide mobile menu by default */
#mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 200px;
    height: 55%;
    background: var(--primary-color);
    box-shadow: -4px 0 10px var(--light-box-shadow);
    transition: right 0.3s ease-in-out;
    margin-top: 70px;
    z-index: 1;
}

#mobile-menu a:not(.close-btn, .download-btn) {
    color: var(--text-primary-color);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    display: block;
    justify-content: center;
    padding: 35px 0;
}

#mobile-menu .download-btn {
    width: fit-content;
    padding: 10px;
    margin-top: 10px;
}

#mobile-menu .download-btn:hover {
    color: var(--primary-color);
}

#mobile-menu a:hover {
    font-weight: bold;
}
/* show mobile menu when clicked */
#mobile-menu:target {
    right: 0;
}

.close-btn {
    font-size: 25px;
    color: var(--text-primary-color);
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.mobile-nav {
    list-style: none;
    width: fit-content;
}

.menu-icon {
    font-size: 24px;
    color: var(--text-primary-color);
    text-decoration: none;
    display: none;
}

/* ==== MOBILE RESPONSIVENESS ==== */
@media screen and (max-width: 768px) {
    /* navbar */
    .navbar {
        padding: 0 20px;
    }

    .logo a {
        font-size: 30px;
    }

    .nav-menu {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .download-btn:hover {
        color: var(--text-primary-color) !important;
    }
}

/* ==== TABLET RESPONSIVENESS ==== */
@media only screen and (min-width: 767px) and (max-width: 1024px) {
    /* navbar */
    .nav-menu {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    #mobile-menu {
        height: 32%;
    }

    .download-btn:hover {
        color: var(--text-primary-color) !important;
    }
}