/* root variables */
:root {
    --primary-color: #212020;
    --secondary-color: #f5f5f5;
    --text-primary-color: #ffffff;
    --text-secondary-color: #000000;
    --light-gray: #555;
    --asterisk-color: rgb(226, 89, 89);
    --form-background-color: #2a2a2a;
    --form-input-text: #e0e0e0;
}

/* ensures smooth scrolling */
html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

/* general stylings */
body {
    background: var(--primary-color);
    color: var(--text-primary-color);
    margin: 0;
    font-family: "Montserrat", sans-serif;
    user-select: none;
}

h1, h2 {
    font-family: 'Qwitcher Grypen', sans-serif;
    font-size: 70px;
    margin-bottom: 40px;
}

p {
    font-size: 13px;
    line-height: 2.2;
}

/* navbar stylings */
header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1001;
    background-color: var(--primary-color);
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
    padding: 15px 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 30px;
}

.logo a {
    font-family: 'Qwitcher Grypen', sans-serif;
    font-size: 40px;
    font-weight: bolder;
    text-decoration: none;
    color: var(--text-primary-color);
}

/* desktop navigation */
.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 80px;
}

.nav-link {
    color: var(--text-primary-color);
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    transition: transform 0.3s ease, color 0.3s ease;
}

.nav-link:hover {
    font-weight: bold;
}

.download-btn {
    padding: 10px 18px;
    border: 2px solid var(--text-primary-color);
    border-radius: 30px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.download-btn:hover {
    color: var(--text-primary-color);
    background-color: var(--primary-color);
}

/* hide mobile menu by default */
#mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 200px;
    height: 55%;
    background: var(--primary-color);
    box-shadow: -4px 0 10px rgba(255, 255, 255, 0.2);
    transition: right 0.3s ease-in-out;
    margin-top: 70px;
    z-index: 1;
}

#mobile-menu a:not(.close-btn, .download-btn) {
    color: var(--text-primary-color);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    display: block;
    justify-content: center;
    padding: 35px 0;
}

#mobile-menu .download-btn {
    width: fit-content;
    padding: 10px;
    margin-top: 10px;
}

#mobile-menu .download-btn:hover {
    color: var(--primary-color);
}

#mobile-menu a:hover {
    font-weight: bold;
}
/* show mobile menu when clicked */
#mobile-menu:target {
    right: 0;
}

.close-btn {
    font-size: 25px;
    color: var(--text-primary-color);
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.mobile-nav {
    list-style: none;
    width: fit-content;
}

.menu-icon {
    font-size: 24px;
    color: var(--text-primary-color);
    text-decoration: none;
    display: none;
}

/* hero section stylings */
.hero-section {
    position: relative;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    padding: 100px 50px;
    flex: 1;
}

.hero-img img {
    width: auto;
    height: 450px;
    transition: transform 0.4s ease-in-out !important;
    position: relative;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    border-left: 2px solid;
    padding: 10px;
}

.hero-img img:hover {
    transform: scale(1.05) !important;
}

.hero-content h1 {
    margin-bottom: 40px;
}

.hero-content p {
    margin-bottom: 25px;
    width: 90%;
}

.hero-text h2 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: none;
}

.hero-text h2::after,
.contact-section h2::after {
    content: "";
    display: block;
    width: 120px;
    height: 3px;
    border: 1px solid var(--text-primary-color);
    margin: 15px 0 25px 0;
    border-radius: 10px;
}

.hero-content a {
    padding: 10px 18px;
    border: 2px solid var(--text-primary-color);
    border-radius: 30px;
    font-size: 12px;
    text-transform: uppercase;
    color: var(--text-primary-color);
    text-decoration: none;
    display: inline-block;
}

.hero-content a:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    font-weight: bold;
    transform: translateX(-5px) !important;
}

.social-icons {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 25px;
    top: 40%;
    gap: 15px;
}

.social-icons a {
    font-size: 20px;
    border: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-icons a:hover {
    background: var(--light-gray);
    color: var(--secondary-color);
    transform: translateX(-5px) !important;
}

/* animation effects for the hero section */
.hero-img img,
.hero-text h1,
.hero-text h2,
.hero-text p,
.hero-content a {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-out forwards;
}

.hero-img img {
    animation-delay: 0s;
}

.hero-text h1 {
    animation-delay: 0.3s;
}

.hero-text h2 {
    animation-delay: 0.6s;
}

.hero-text p {
    animation-delay: 0.9s;
}

.hero-content a {
    animation-delay: 1.2s;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* portfolio section stylings */
.portfolio-section,
.about-section  {
    background: var(--secondary-color);
    color: var(--text-secondary-color);
    margin: 20px;
    padding: 1px 40px 100px 40px;
}

.portfolio-section h2,
.education-section h2 {
    text-align: right;
}

.project-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    justify-items: center;
}

.project-card {
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 20px;
    border-radius: 8px;
    transition: transform 0.3s ease;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15), -5px -5px 15px rgba(255, 255, 255, 0.1);
}

.project-card:hover,
.education:hover,
.certifications:hover {
    transform: scale(1.03);
}

.project-card img {
    height: 200px;
    filter: grayscale(100%);
    transition: filter 0.3s ease, transform 0.3s ease;
}

.project-card:hover img {
    filter: grayscale(0%);
    transform: scale(1.05);
}

.project-description {
    max-width: 300px;
}

.project-description h3 {
    font-size: 14px;
    text-transform: uppercase;
}

.project-links {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.icon-link {
    color: var(--text-secondary-color);
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.icon-link:hover {
    color: var(--light-gray);
    transform: translateY(-2px);
}

/* tech stack stylings */
.tech-stack-section {
    text-align: center;
    margin: 0;
}

.tech-title,
.interests-title {
    font-size: 35px;
    margin-bottom: 1rem;
}

.tech-icons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 1rem;
    justify-items: center;
    padding: 1rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
}

.tech-icon {
    width: 50px;
    height: 50px;
    transition: transform 0.3s, filter 0.3s;
    filter: grayscale(100%);
}

.tech-icon:hover {
    transform: scale(1.1);
    filter: grayscale(0%);
}

.swipe-hint {
    font-size: 10px;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    display: none;
}

/* interests section stylings */
.interests-section {
    text-align: center;
    margin: 0 0 30px 0;
}

.tag-cloud {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 10px 0;
    justify-content: center;
}

.tag {
    flex: 0 0 auto;
    scroll-snap-align: start;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
}

.tag:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
    background-color: var(--light-gray);
    color: var(--text-secondary-color);
}

.tag i {
    font-size: 14px;
    color: var(--secondary-color);
}

/* about section stylings */
.about-me {
    display: flex;
    gap: 100px;
    margin: 40px;
}

.about-me-img {
    width: auto;
    height: 350px;
    transition: transform 0.4s ease-in-out !important;
    position: relative;
    border-bottom: 2px solid var(--light-gray);
    border-right: 3px solid;
    padding: 10px;
}

.about-me img:hover {
    transform: scale(1.05) !important;
}

.about-me-icon {
    width: 30px;
    vertical-align: middle;
}

/* education section stylings */
.education-section h2 {
    font-size: 60px;
}

.education-certification {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.education,
.certifications {
    flex: 1;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.education h3,
.certifications h3 {
    font-size: 18px;
    margin-bottom: 10px;
    text-decoration: underline;
}

.edu-item {
    margin-bottom: 20px;
}

.edu-item p,
.certifications p {
    margin: 5px;
}

.certifications p {
    margin-bottom: 30px;
}

/* contact section stylings */
.contact-section {
    margin: 50px;
}

.contact-content {
    display: flex;
    gap: 30px;
}

.contact-text {
    flex: 1;
    margin-left: 20px;
}

.contact-info {
    margin: 30px 0;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 30px 0;
}

.contact-item img {
    filter: invert(1) grayscale(100%) contrast(100%);
}

.contact-icon {
    width: 24px;
    height: 24px;
}

.contact-item p {
    margin: 0;
    font-weight: bold;
    font-style: italic;
    color: var(--light-gray);
}

.contact-form {
    flex: 1;
}

form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--text-primary-color);
    font-size: 13px;
}

.contact-form label span {
    color: var(--asterisk-color);
}

.input-icon {
    position: relative;
}

.input-icon i {
    position: absolute;
    left: 12px;
    top: 38%;
    transform: translateY(-50%);
    color: var(--light-gray);
    font-size: 12px;
}

.input-icon:last-of-type i {
    top: 18%;
}

.contact-form input,
.contact-form textarea {
    padding: 12px 12px 12px 40px;
    margin-bottom: 15px;
    background-color: var(--form-background-color);
    border: 1px solid var(--light-gray);
    border-radius: 8px;
    color: var(--form-input-text);
    width: 100%;
    box-sizing: border-box;
}

.contact-form textarea::placeholder {
    font-size: 12px;
}

.contact-form button {
    padding: 14px;
    background-color: var(--primary-color);
    border: 2px solid var(--text-primary-color);
    border-radius: 30px;
    color: var(--text-primary-color);
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.contact-form button:hover {
    background-color: var(--secondary-color);
    color: var(--text-secondary-color);
}

/* footer section stylings */
.footer-section {
    text-align: center;
    padding: 10px 0;
    margin-top: 100px;
    box-shadow: 0 -4px 6px rgba(238, 233, 233, 0.2);
}

.footer-link {
    color: var(--text-primary-color);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.footer-link:hover {
    color: var(--light-gray);
}

.heart {
    display: inline-block;
    color: var(--asterisk-color);
    animation: heartbeat 1.5s infinite;
}

/* footer heart infinite animation */
@keyframes heartbeat {
    0%, 100% { 
        transform: scale(1); 
    }
    25%, 75% { 
        transform: scale(1.2); 
    }
    50% { 
        transform: scale(1.4); 
    }
}

/* ==== MOBILE RESPONSIVENESS ==== */
@media screen and (max-width: 768px) {
    h1, h2 {
        font-size: 50px;
    }

    p {
        font-size: 14px;
    }

    /* navbar */
    .navbar {
        padding: 0 20px;
    }

    .logo a {
        font-size: 30px;
    }

    .nav-menu {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .download-btn:hover {
        color: var(--text-primary-color) !important;
    }

    /* hero */
    .hero-section {
        margin-top: 65px;
        text-align: center;
    }

    .hero-text h2::after {
        margin: 15px auto;
    }

    .hero-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        gap: 0;
    }

    .hero-img img {
        height: 400px;
    }

    .hero-content p {
        width: 100%;
    }

    .social-icons {
        position: relative;
        flex-direction: row;
        justify-content: center;
        margin-top: 30px;
        right: 0;
    }

    .social-icons a {
        font-size: 25px;
    }

    .social-icons a:hover {
        transform: translateY(-5px) !important;
    }

    /* portfolio */
    .portfolio-section, 
    .about-section{
        padding: 5px 20px 50px 20px;
    }

    .project-content {
        gap: 40px;
    }

    /* tech stack */
    .tech-icons {
        display: flex;
        gap: 20px;
    }

    .tech-icon {
        width: 40px;
        height: 40px;
    }

    .swipe-hint {
        display: block;
    }

    /* interests */
    .tag-cloud {
        justify-content: flex-start;
        margin: 0 0 0 10px;
        gap: 5px;
    }

    /* about */
    .about-me {
        flex-direction: column;
        margin: 0 0 50px 0;
        gap: 0;
    }

    .about-contact-info {
        flex-direction: column;
        gap: 10px;
    }

    .about-me-img {
        height: 300px;
        object-fit: contain;
    }

    /* education */
    .education-certification {
        flex-direction: column;
        gap: 20px;
    }

    .education-section h2 {
        font-size: 40px;
    }

    /* contact */
    .contact-section {
        margin: 20px;
    }

    .contact-content {
        flex-direction: column;
    }

    .contact-text {
        margin: 0;
    }

    /* footer */
    .footer-text {
        font-size: 10px;
    }
}

/* ==== TABLET RESPONSIVENESS ==== */
@media only screen and (min-width: 767px) and (max-width: 1024px) {
    h1, h2 {
        font-size: 65px;
    }

    /* navbar */
    .nav-menu {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    #mobile-menu {
        height: 32%;
    }

    .download-btn:hover {
        color: var(--text-primary-color) !important;
    }

    /* hero */
    .hero-section {
        position: relative;
    }

    .hero-text {
        margin-top: 40px;
    }

    .hero-content {
        gap: 10px;
        padding: 60px 15px;
    }

    .hero-img img {
        margin-top: 55px;
    }

    .hero-content p {
        width: 100%;
    }

    .social-icons {
        position: absolute;
        flex-direction: row;
        justify-content: center;
        top: auto;
        bottom: 10px;
        right: 50%;
        transform: translateX(50%);
    }

    /* tech stack */
    .tech-icons {
        display: flex;
        gap: 40px;
    }

    .swipe-hint {
        display: block;
    }

    /* interests */
    .tag-cloud {
        margin: 0 0 0 15px;
        justify-content: flex-start;
    }

    /* about */
    .about-me {
        margin: 0;
        gap: 40px;
    }

    .about-me-img {
        margin-top: 80px;
    }
}