/* root variables */
:root {
    --primary-color: #212020;
    --secondary-color: #f5f5f5;
    --text-primary-color: #ffffff;
    --text-secondary-color: #000000;
    --light-box-shadow: rgba(255, 255, 255, 0.2);
    --light-gray: #555;
}
/* general stylings */
body {
    background: var(--primary-color);
    color: var(--text-primary-color);
    margin: 0;
    font-family: "Montserrat", sans-serif;
    user-select: none;
}

h1, h2 {
    font-family: 'Qwitcher Grypen', sans-serif;
    font-size: 70px;
    margin-bottom: 40px;
}

p {
    font-size: 13px;
    line-height: 2.2;
}

/* navbar stylings */
header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1001;
    background-color: var(--primary-color);
    box-shadow: 0px 4px 10px var(--light-box-shadow);
    padding: 15px 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 30px;
}

.logo a {
    font-family: 'Qwitcher Grypen', sans-serif;
    font-size: 40px;
    font-weight: bolder;
    text-decoration: none;
    color: var(--text-primary-color);
}

/* desktop navigation */
.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 80px;
}

.nav-link {
    color: var(--text-primary-color);
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    transition: transform 0.3s ease, color 0.3s ease;
}

.nav-link:hover {
    font-weight: bold;
}

.download-btn {
    padding: 10px 18px;
    border: 2px solid var(--text-primary-color);
    border-radius: 30px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.download-btn:hover {
    color: var(--text-primary-color);
    background-color: var(--primary-color);
}

/* hide mobile menu by default */
#mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 200px;
    height: 55%;
    background: var(--primary-color);
    box-shadow: -4px 0 10px var(--light-box-shadow);
    transition: right 0.3s ease-in-out;
    margin-top: 70px;
    z-index: 1;
}

#mobile-menu a:not(.close-btn, .download-btn) {
    color: var(--text-primary-color);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    display: block;
    justify-content: center;
    padding: 35px 0;
}

#mobile-menu .download-btn {
    width: fit-content;
    padding: 10px;
    margin-top: 10px;
}

#mobile-menu .download-btn:hover {
    color: var(--primary-color);
}

#mobile-menu a:hover {
    font-weight: bold;
}
/* show mobile menu when clicked */
#mobile-menu:target {
    right: 0;
}

.close-btn {
    font-size: 25px;
    color: var(--text-primary-color);
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.mobile-nav {
    list-style: none;
    width: fit-content;
}

.menu-icon {
    font-size: 24px;
    color: var(--text-primary-color);
    text-decoration: none;
    display: none;
}

/* hero section stylings */
.hero-section {
    position: relative;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    padding: 100px 50px;
    flex: 1;
}

.hero-img img {
    width: auto;
    height: 450px;
    transition: transform 0.4s ease-in-out !important;
    position: relative;
    border-bottom: 2px solid var(--light-box-shadow);
    border-left: 2px solid;
    padding: 10px;
}

.hero-img img:hover {
    transform: scale(1.05) !important;
}

.hero-content h1 {
    margin-bottom: 40px;
}

.hero-content p {
    margin-bottom: 25px;
    width: 90%;
}

.hero-text h2 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: none;
}

.hero-text h2::after {
    content: "";
    display: block;
    width: 120px;
    height: 3px;
    border: 1px solid var(--text-primary-color);
    margin: 15px 0 25px 0;
}

.hero-content a {
    padding: 10px 18px;
    border: 2px solid var(--text-primary-color);
    border-radius: 30px;
    font-size: 12px;
    text-transform: uppercase;
    color: var(--text-primary-color);
    text-decoration: none;
    display: inline-block;
}

.hero-content a:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    font-weight: bold;
    transform: translateX(-5px) !important;
}

.social-icons {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 25px;
    top: 50%;
    gap: 15px;
}

.social-icons a {
    font-size: 20px;
    border: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-icons a:hover {
    background: var(--light-gray);
    color: var(--secondary-color);
    transform: translateX(-5px) !important;
}

/* animation effects for the hero section */
.hero-img img,
.hero-text h1,
.hero-text h2,
.hero-text p,
.hero-content a {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-out forwards;
}

.hero-img img {
    animation-delay: 0s;
}

.hero-text h1 {
    animation-delay: 0.3s;
}

.hero-text h2 {
    animation-delay: 0.6s;
}

.hero-text p {
    animation-delay: 0.9s;
}

.hero-content a {
    animation-delay: 1.2s;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* portfolio section stylings */
.portfolio-section {
    background: var(--secondary-color);
    color: var(--text-secondary-color);
    margin: 20px;
    padding: 1px 40px 100px 40px;
}

.portfolio-section h2 {
    text-align: right;
}

.project-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    justify-items: center;
}

.project-card {
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 20px;
    border-radius: 8px;
    transition: transform 0.3s ease;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15), -5px -5px 15px rgba(255, 255, 255, 0.1);
}

.project-card:hover {
    transform: scale(1.03);
}

.project-card img {
    height: 200px;
    filter: grayscale(100%);
    transition: filter 0.3s ease, transform 0.3s ease;
}

.project-card:hover img {
    filter: grayscale(0%);
    transform: scale(1.05);
}

.project-description {
    max-width: 300px;
}

.project-description h3 {
    font-size: 14px;
    text-transform: uppercase;
}

.project-links {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.icon-link {
    color: var(--text-secondary-color);
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.icon-link:hover {
    color: var(--light-gray);
    transform: translateY(-2px);
}

/* tech stack stylings */
.tech-stack-section {
    text-align: center;
    margin: 0;
}

.tech-title {
    font-size: 40px;
    margin-bottom: 1rem;
}

.tech-icons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 1rem;
    justify-items: center;
    padding: 1rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
}

.tech-icon {
    width: 50px;
    height: 50px;
    transition: transform 0.3s, filter 0.3s;
    filter: grayscale(100%);
}

.tech-icon:hover {
    transform: scale(1.1);
    filter: grayscale(0%);
}

/* ==== MOBILE RESPONSIVENESS ==== */
@media screen and (max-width: 768px) {
    h1, h2 {
        font-size: 60px;
    }

    p {
        font-size: 14px;
    }

    /* navbar */
    .navbar {
        padding: 0 20px;
    }

    .logo a {
        font-size: 30px;
    }

    .nav-menu {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .download-btn:hover {
        color: var(--text-primary-color) !important;
    }

    /* hero */
    .hero-section {
        margin-top: 65px;
        text-align: center;
    }

    .hero-text h2::after {
        margin: 15px auto;
    }

    .hero-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        gap: 0;
    }

    .hero-img img {
        height: 400px;
    }

    .hero-content p {
        width: 100%;
    }

    .social-icons {
        position: relative;
        flex-direction: row;
        justify-content: center;
        margin-top: 30px;
        right: 0;
    }

    .social-icons a {
        font-size: 25px;
    }

    .social-icons a:hover {
        transform: translateY(-5px) !important;
    }

    /* portfolio */
    .portfolio-section, 
    .about-section{
        padding: 5px 20px 50px 20px;
    }

    .project-content {
        gap: 40px;
    }
}

/* ==== TABLET RESPONSIVENESS ==== */
@media only screen and (min-width: 767px) and (max-width: 1024px) {
    h1, h2 {
        font-size: 65px;
    }

    /* navbar */
    .nav-menu {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    #mobile-menu {
        height: 32%;
    }

    .download-btn:hover {
        color: var(--text-primary-color) !important;
    }

    /* hero */
    .hero-section {
        position: relative;
    }

    .hero-text {
        margin-top: 40px;
    }

    .hero-content {
        gap: 10px;
        padding: 60px 15px;
    }

    .hero-img img {
        margin-top: 55px;
    }

    .hero-content p {
        width: 100%;
    }

    .social-icons {
        position: absolute;
        flex-direction: row;
        justify-content: center;
        top: auto;
        bottom: 10px;
        right: 50%;
        transform: translateX(50%);
    }
}